.allProductsBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.allProductsBox .allProductsMainBox {
    width: 82%;
    height: 100%;
    padding: 0 20px;
}

.allProductsBox .allProductsMainBox .ourProductsDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.allProductsBox .allProductsMainBox .ourProductsDetail .ourProductsTitle h5 {
    font-size: 36px;
} 

.allProductsBox .allProductsMainBox .ourProductsDetail .arrows {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 46px;
}

.allProductsBox .allProductsMainBox .ourProductsDetail .arrows .arrowLeft, .allProductsBox .allProductsMainBox .ourProductsDetail .arrows .arrowRight {
    width: 46px;
    height: 46px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.allProductsBox .allProductsMainBox .ourProductsDetail .arrowLeft:hover, .allProductsBox .allProductsMainBox .ourProductsDetail .arrowRight:hover {
    background-color: #cdcbcb;
}

.bottomBox {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .allProductsBox .allProductsMainBox {
        padding: 0 10px;
    }

    .allProductsBox .allProductsMainBox .ourProductsDetail {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding: 0 10px;
    }

    .allProductsBox .allProductsMainBox .ourProductsDetail .ourProductsTitle h5 {
        font-size: 17px;
    }

    .bottomBox {
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .bottomBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .allProductsBox .allProductsMainBox {
        padding: 0 10px;
    }

    .allProductsBox .allProductsMainBox .ourProductsDetail {
        gap: 10px;
    }

    .allProductsBox .allProductsMainBox .ourProductsDetail .ourProductsTitle h5 {
        font-size: 23px;
    }

    .bottomBox {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 25px;
        row-gap: 40px;
        column-gap: 15px;
    }
}
 