.bestSellingBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.bestSellingBox .bestSellingMainBox {
    width: 82%;
    height: 100%;
    padding: 0 20px;
}

.bestSellingBox .bestSellingMainBox .bestSellingDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}

.bestSellingBox .bestSellingMainBox .bestSellingDetail .BestSellingTitle h5 {
    font-size: 36px;
}

.bestSellingBox .bestSellingMainBox .bestSellingDetail .viewAllButton {
    width: 159px;
    height: 56px;
    border-radius: 4px;
    background-color: #DB4444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #FAFAFA;
    cursor: pointer;
}

.bottomBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 60px;
}

.bannerBox {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

.bannerBox .bannerBoxImage {
    width: 82%;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    margin-bottom: 100px;
}

.bannerBox .bannerBoxImage .leftBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    gap: 15px;
}

.leftBox .firstTitle {
    color: #00FF66;
    font-weight: 500;
    font-size: 16px;
}

.leftBox .secondTitle {
    width: 80%;
    color: #FAFAFA;
    font-size: 48px;
    font-weight: 500;
}

.leftBox .clockBox {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.leftBox .clockCircle {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leftBox .clockCircle h6 {
    font-size: 16px;
}

.leftBox .clockCircle span {
    font-size: 11px;
}

.leftBox .buyNowButton {
    width: 171px;
    height: 56px;
    background-color: #00FF66;
    border-radius: 4px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightBox {
    width: 60%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 2rem 9rem #D9D9D9);
}

.rightBox img {
    width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .bestSellingBox .bestSellingMainBox {
        padding: 0 10px;
    }

    .bestSellingBox .bestSellingMainBox .bestSellingDetail {
        padding: 0 10px;
    }

    .bottomBox {
        margin-top: 25px;
        row-gap: 40px;
    }

    .bannerBox {
        padding: 0;
    }

    .bannerBox .bannerBoxImage {
        padding: 13px;
        margin-bottom: 70px;
    }

    
    .bannerBox .bannerBoxImage .leftBox {
        width: 100%;
    }

    .leftBox .firstTitle {
        font-size: 13px;
    }

    .leftBox .secondTitle {
        font-size: 18px;
    }

    .leftBox .clockBox {
        gap: 5px;
    }

    .leftBox .clockCircle {
        width: 35px;
        height: 35px;
    }
    
    .leftBox .clockCircle h6 {
        font-size: 13px;
    }
    
    .leftBox .clockCircle span {
        font-size: 7px;
    }

    .leftBox .buyNowButton {
        width: 80px;
        height: 35px;
    }

    .leftBox .buyNowButton div {
        font-size: 13px;
    }

    .rightBox {
        width: 100%;
        filter: drop-shadow(0 0 3rem #D9D9D9);
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .bestSellingBox {
        margin-bottom: 15px;
    }
    
    .bestSellingBox .bestSellingMainBox .bestSellingDetail .BestSellingTitle h5 {
        font-size: 17px;
    }

    .bestSellingBox .bestSellingMainBox .bestSellingDetail .viewAllButton {
        display: none;
    }

    .bestSellingBox .bestSellingMainBox .viewAllButtonMin {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 45px 0;
    }

    .bestSellingBox .bestSellingMainBox .viewAllButtonMin div {
        width: 150px;
        height: 50px;
        background-color: #DB4444;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAFAFA;
        font-size: 13px
    }

    .bottomBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .bannerBox .bannerBoxImage {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .bestSellingBox {
        margin-bottom: 60px;
    }

    .bestSellingBox .bestSellingMainBox .bestSellingDetail .BestSellingTitle h5 {
        font-size: 23px;
    }

    .bestSellingBox .bestSellingMainBox .bestSellingDetail .viewAllButton { 
        width: 120px;
        height: 40px;
        font-size: 13px;
    }

    .bottomBox {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 15px;
    }
}

@media screen and (min-width: 769px) {
    .bestSellingBox .bestSellingMainBox .viewAllButtonMin {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .bottomBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 481px) and (max-width: 550px) {
    .rightBox img {
        width: 70%;
    }
} 

@media screen and (min-width: 551px) and (max-width: 650px) {
    .rightBox img {
        width: 60%;
    }
}

@media screen and (min-width: 651px) and (max-width: 768px) {
    .bannerBox .bannerBoxImage {
        flex-direction: row;
    }
}