.categoryBox {
    width: 100%;
    /* height: 313px; */
    display: flex;
    justify-content: center;
}

.categoryMainBox {
    width: 82%;
    height: 100%;
    padding: 0 20px;
}

.categoryMainBox .topBox {
    width: 100%;
    height: 103px;
    display: flex;
    flex-direction: column;
}

.topBox .categoryTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBox .categoryTitle .redBox {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: #DB4444;
}

.topBox .categoryTitle h4{
    font-size: 16px;
    color: #DB4444;
}

.categorySecondTitle {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.categorySecondTitle h5 {
    font-size: 36px;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 46px;
}

.arrows .arrowLeft, .arrows .arrowRight {
    width: 46px;
    height: 46px;
    background-color: #F5F5F5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.arrowLeft:hover, .arrowRight:hover {
    background-color: #cdcbcb;
}

.bottomBox {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
}

.bottomBox .categoryCard {
    width: 145px;
    height: 115px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    cursor: pointer;
}

.bottomBox .categoryCard:hover {
    background-color: #DB4444;
    color: #FFFFFF;
}

.bottomBox .categoryCard div {
    font-size: 16px;
    margin-top: 20px;
}

.horizontalLine {
    width: 100%;
    display: flex;
    justify-content: center;
}

.horizontalLine div {
    width: 82%;
    border: 0.5px solid #d5d5d5;
    margin: 60px 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .categoryMainBox {
        padding: 0 10px;
    }

    .topBox .categoryTitle .redBox {
        width: 15px;
        height: 30px;
        margin-right: 10px;
    }

    .categorySecondTitle {
        flex-direction: column;
        gap: 10px;
        padding: 0 10px;
    }

    .categorySecondTitle h5 {
        font-size: 17px;
    }

    .arrows {
        width: 85px;
    }

    .arrows .arrowLeft, .arrows .arrowRight {
        width: 40px;
        height: 40px;
    }

    .bottomBox {
        margin-top: 50px;
    }

    .bottomBox .categoryCard {
        width: 100px;
        height: 100px;
        font-size: 25px;
    }

    .bottomBox .categoryCard div {
        font-size: 13px;
    }

    .horizontalLine div {
        margin: 50px 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .categoryMainBox {
        padding: 0 10px;
    }

    .topBox .categoryTitle .redBox {
        width: 20px;
        height: 35px;
        margin-right: 10px;
    }

    .categorySecondTitle {
        gap: 10px;
        padding: 0 10px;
        margin-top: 13px;
    }

    .categorySecondTitle h5 {
        font-size: 23px;
    }

    .arrows {
        width: 85px;
    }

    .arrows .arrowLeft, .arrows .arrowRight {
        width: 40px;
        height: 40px;
    }

    .bottomBox {
        margin-top: 25px;
    }

    .bottomBox .categoryCard {
        width: 130px;
        height: 115px;
        font-size: 30px;
    }

    .bottomBox .categoryCard div {
        font-size: 15px;
    }

    .horizontalLine div {
        margin: 50px 0;
    }
}