.featuredBox {
    width: 100%;
    display: flex;
    justify-content: center;
}

.featuredMainBox {
    width: 82%;
    height: 100%;
    padding: 0 20px;
}

.featuredMainBox .topBox {
    width: 100%;
    height: 103px;
    display: flex;
    flex-direction: column;
}

.topBox .topTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBox .topTitle .redBox {
    width: 20px;
    height: 40px;
    border-radius: 4px;
    margin-right: 16px;
    background-color: #DB4444;
}

.topBox .topTitle h4 {
    font-size: 16px;
    color: #DB4444;
}

.featuredTitle {
    margin: 24px 87px 0 0;
}

.featuredTitle h5 {
    font-size: 36px;
}

.bottomBox {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.bottomBox .leftBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #000;
    position: relative;
}

.bottomBox .leftBox img {
    width: 83%;
    /* height: 500px; */
    background-color: #000;
}

.bottomBox .leftBox .imgDescription {
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 16px;
}

.imgDescription h5 {
    font-size: 24px;
}

.imgDescription span {
    font-size: 14px;
    font-weight: 300;
}

.imgDescription a {
    font-size: 16px;
    color: #fff;
    font-weight: 4;
}

.bottomBox .rightBox {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.bottomBox .rightBox .rightTopBox {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    background-color: #0D0D0D;
    position: relative;
} 

.bottomBox .rightBox .rightTopBox .imgDescription {
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 16px;
}

.bottomBox .rightBox .rightTopBox img {
    width: 75%;
}


.bottomBox .rightBox .rightBottomBox {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.bottomBox .rightBox .rightBottomBox .rightBottomBoxLeft, .bottomBox .rightBox .rightBottomBox .rightBottomBoxRight {
    width: 50%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottomBox .rightBox .rightBottomBox div .imgDescription {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.bottomBox .rightBox .rightBottomBox .rightBottomBoxLeft img, .bottomBox .rightBox .rightBottomBox .rightBottomBoxRight img {
    /* filter: drop-shadow(0 2rem 9rem #D9D9D9); */
    width: 65%;
    height: 65%;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .featuredTitle {
        margin: 24px 0 0 0;
    }

    .featuredTitle h5 {
        font-size: 17px;
    }

    .topBox .topTitle .redBox {
        width: 15px;
        height: 30px;
        margin-right: 10px;
    }

    .bottomBox {
        flex-direction: column;
        margin-top: 0;
        height: 100%;
        gap: 15px;
    }

    .bottomBox .leftBox {
        width: 100%;
    }

    .bottomBox .leftBox .imgDescription, .bottomBox .rightBox .rightTopBox .imgDescription, .bottomBox .rightBox .rightBottomBox div .imgDescription {
        left: 15px;
        bottom: 10px;
        gap: 6px;
    }

    .bottomBox .rightBox .rightTopBox .imgDescription {
        width: 70%;
    }

    .imgDescription h5 {
        font-size: 16px;
    }

    .imgDescription span {
        font-size: 12px;   
    }

    .imgDescription a {
        font-size: 13px;
    }

    .bottomBox .rightBox {
        width: 100%;
        gap: 10px;
    }

    .bottomBox .rightBox .rightBottomBox {
        height: 155px;
        gap: 10px;
    }

    .bottomBox .rightBox .rightBottomBox div {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .bottomBox .leftBox img {
        width: 50%;
    }

    .bottomBox .rightBox .rightTopBox img {
        width: 50%;
    }

    .bottomBox .rightBox .rightBottomBox .rightBottomBoxLeft img, .bottomBox .rightBox .rightBottomBox .rightBottomBoxRight img {
        width: 40%;
        height: 40%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .featuredTitle {
        margin: 24px 0 0 0;
    }

    .featuredTitle h5 {
        font-size: 17px;
    }

    .topBox .topTitle .redBox {
        width: 15px;
        height: 30px;
        margin-right: 10px;
    }

    .bottomBox {
        flex-direction: column;
        margin-top: 0;
        height: 100%;
        gap: 15px;
    }

    .bottomBox .leftBox {
        width: 100%;
    }

    .bottomBox .leftBox img {
        width: 50%;
    }

    .bottomBox .leftBox .imgDescription, .bottomBox .rightBox .rightTopBox .imgDescription, .bottomBox .rightBox .rightBottomBox div .imgDescription {
        left: 15px;
        bottom: 10px;
        gap: 6px;
    }

    .bottomBox .rightBox .rightBottomBox .rightBottomBoxLeft img, .bottomBox .rightBox .rightBottomBox .rightBottomBoxRight img {
        width: 50%;
        height: 70%;
    }

    .bottomBox .rightBox .rightTopBox .imgDescription {
        width: 70%;
    }

    .imgDescription h5 {
        font-size: 16px;
    }

    .imgDescription span {
        font-size: 12px;   
    }

    .imgDescription a {
        font-size: 13px;
    }

    .bottomBox .rightBox {
        width: 100%;
        gap: 10px;
    }

    .bottomBox .rightBox .rightBottomBox {
        height: 155px;
        gap: 10px;
    }

    .bottomBox .rightBox .rightBottomBox div {
        width: 100%;
    }
}